h1{text-align: center; color: #0000FF;font-family: Verdana;font-size: 20 pt}
h2{text-align: right; color: #800000;font-family: Verdana;font-size: 16 pt}
p{text-align: justify;color: #191970;font-family: Arial;font-size: 12 pt;font-weight: bold;}
body{background-image:url("fon9.jpg");}
h3{text-align: left; color: #000080;font-family: Verdana;font-size: 14 pt;}
ol{list-style-type: upper-roman;color:  #800000;}
ul{list-style-image: url("spisok_1.gif");}



h1.main,h1.global,h1.krasn,h1.zelen,h1.oranzhev{
color: navy;font-family: Vardana;text-align: left; font-size:20pt }

h1.main{color: navy; }
h1.global{color: blue;}
h1.krasn{color: red;}
h1.zelen{color: green;}
h1.oranzhev{color:orange; }


p.bluedark{font-family:Verdana ;color: navy;text-align: center;font-size: 12 pt;}
p.blue{font-family: Verdana; color: blue; text-align: left; font-size: 13 pt;}
p.red{font-family: Verdana; color: red; text-align: right; font-size: 12 pt;}
p.green{font-family: Arial; color: green; text-align: left;font-size: 13 pt;} 
p.yellow{font-family: Arial;color: orange; text-align: center;font-size: 13 pt;}